<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style-possiveis-users.css') }}">
    <!-- Ícone -->
    <link rel="icon" href="{{ url_for('static', filename='assets/images/logo_app_branco.png') }}">
    <title>Dados - Área Restrita - Peticos</title>
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='assets/images/logo_app_branco.png') }}" class="logo">
        <img src="{{ url_for('static', filename='assets/images/menu.png')}}" class="menu-icon" onClick="toggleMenu()">
        <ul class="menu">
            <li>
                <a href="https://peticos.onrender.com/" class="menu-item" id="crud">Landing page</a>
            </li>
            <li>
                <a href="{{ url_for('home') }}" class="menu-item" id="previsao-user">Previsão de usuário</a>
            </li>
            <li>
                <a href="#" class="menu-item" id="possiveis-users">Possíveis usuários</a>
            </li>
            <li>
                <a href="{{ url_for('publico_alvo') }}" class="menu-item" id="publico-alvo">Público alvo</a>
            </li>
        </ul>
    </header>
    <main>
        <div class="titulo">
            <h1>Possíveis usuários</h1>
        </div>

        <iframe 
            title="Forms - Dados Tratados" 
            class="frame" 
            src="https://app.powerbi.com/view?r=eyJrIjoiZDE2NjBlMTEtNWJhYy00ZWEwLTljNjUtOGMxNzUyZGJjYmQ2IiwidCI6ImIxNDhmMTRjLTIzOTctNDAyYy1hYjZhLTFiNDcxMTE3N2FjMCJ9" 
            frameborder="0" 
            allowFullScreen="true">
        </iframe>
    </main>
    <script src="{{ url_for('static', filename='script-possiveis-users.js') }}"></script>
</body>
</html>