<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='assets/images/logo_app_branco.png') }}">
    <title>Dados - Área Restrita - Peticos</title>
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='assets/images/logo_app_branco.png') }}">
        <ul class="menu">
            <li>
                <a href="" class="menu-item" id="crud">CRUD</a>
            </li>
            <li>
                <a href="" class="menu-item" id="possiveis-users">Possíveis usuários</a>
            </li>
            <li>
                <a href="" class="menu-item" id="publico-alvo">Público alvo</a>
            </li>
            <li>
                <a href="../../previsao-de-users/index.html" class="menu-item" id="previsao-user">Previsão de usuário</a>
            </li>
        </ul>
    </header>
    <main>
        <section id="dadosPessoais">
            <div class="titulo">
                <h1>Dados sobre as pessoas</h1>
            </div>

            <form action="" class="formulario">
                <div class="form-item">
                    <label for="">Idade</label>
                    <input type="text" placeholder="Idade" class="input">
                </div>
                <div class="form-item">
                    <label for="">Gênero</label>
                    <select id="genero" name="genero" class="input" required>
                        <option value="" disabled selected>Masculino | Feminino | Outros</option>
                        <option value="masculino">Masculino</option>
                        <option value="feminino">Feminino</option>
                        <option value="outro">Outro</option>
                    </select>
                </div>
                <div class="form-item">
                    <label for="">Tempo diário médio em redes sociais</label>
                    <input type="text" name="" id="" class="input" placeholder="Tempo médio em redes sociais">
                </div>
                <div class="form-item">
                    <label for="">Pessoas que vivem em sua casa</label>
                    <input type="number" class="input" placeholder="Quantidade de pessoas que vivem em sua casa">
                </div>
                <div class="form-item">
                    <label for="">Renda familiar mensal média</label>
                    <select id="renda" name="renda" class="input" required>
                        <option value="" disabled selected>Menos de 3000 | Entre 3000 e 7000 | Entre 7000 e R10000 | Entre 10000 e 22000 | Mais que 22000</option>
                        <option value="menos_3000">Menos de 3000</option>
                        <option value="entre_3000_7000">Entre 3000 e 7000</option>
                        <option value="entre_7000_10000">Entre 7000 e 10000</option>
                        <option value="entre_10000_22000">Entre 10000 e 22000</option>
                        <option value="mais_22000">Mais que 22000</option>
                    </select>
                </div>
                <div class="form-item">
                    <label for="">Tem Pets</label>
                    <select id="temPets" name="temPets" class="input" required>
                        <option value="" disabled selected>Sim | Não</option>
                        <option value="sim">Sim</option>
                        <option value="nao">Não</option>
                    </select>
                </div>
                <!-- <button class="btnForm" id="btnDadosPessoais">Próxima Etapa</button> -->
            </form>
        </section>

        <section class="dadosPet">
            <div class="titulo">
                <h1>Dados sobre os pets</h1>
            </div>

            <form action="" class="formulario" id="form2">
                <div class="form-item" name="Quantidade de pet">
                    <label for="">Quantidade de pets</label>
                    <input type="number" placeholder="Quantidade de pets" class="input">
                </div>
                <div class="form-item">
                    <label for="">Tem Cachorro?</label>
                    <select id="cachorro" name="cachorro" class="input" required>
                        <option value="" disabled selected>Sim | Não</option>
                        <option value="sim">Sim</option>
                        <option value="nao">Não</option>
                    </select>
                </div>
                <div class="form-item">
                    <label for="">Tem Gato?</label>
                    <select id="gato" name="gato" class="input" required>
                        <option value="" disabled selected>Sim | Não</option>
                        <option value="sim">Sim</option>
                        <option value="nao">Não</option>
                    </select>
                </div>
                <div class="form-item">
                    <label for="">Tem animais de outras espécies?</label>
                    <select id="outros" name="outros" class="input" required>
                        <option value="" disabled selected>Sim | Não</option>
                        <option value="sim">Sim</option>
                        <option value="nao">Não</option>
                    </select>
                </div>
                <div class="form-item">
                    <label for="">Frequentemente esquece tarefas relacionadas aos seus pets</label>
                    <select id="esquece" name="esquece" class="input" required>
                        <option value="" disabled selected>Sim | Não</option>
                        <option value="sim">Sim</option>
                        <option value="nao">Não</option>
                    </select>
                </div>
                <!-- <button class="btnForm" id="btnDadosPet">Próxima Etapa</button> -->
            </form>
        </section>

        <section id="fim">
            <div class="titulo">
                <h1>Perguntas finais</h1>
            </div>

            <form action="" class="formulario">
                <div class="form-item">
                    <label for="">Reportaria caso encontrasse um animal abandonado</label>
                    <select id="reportaria" name="reportaria" class="input" required>
                        <option value="" disabled selected>Sim | Provavelmente Sim | Talvez | Provavelmente Não | Não</option>
                        <option value="sim">Sim</option>
                        <option value="provavelmente_sim">Provavelmente Sim</option>
                        <option value="sim">Talvez</option>
                        <option value="provavelmente_nao">Provavelmente Não</option>
                        <option value="nao">Não</option>
                    </select>
                </div>
                <div class="form-item">
                    <label for="">Sentimento ao ver fotos de animais (nota de 1 a 5)</label>
                    <select id="sentimento" name="sentimento" class="input" required>
                        <option value="" disabled selected>1 | 2 | 3 | 4 | 5</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <button class="btnForm" id="btnFim">Finalizar</button>
            </form>
        </section>
    </main>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
